.dropbtn {
  background-color: #2e51a2;
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e1e7f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e1e7f5;
  color: #000;
}
.search {
  display: flex;
  margin-left: 270px;
 
  justify-content: end;
  background-color: white;
  border-color: #f1f1f1;
  border-radius: 5px;
}
.second-nav {
  display: flex;
  align-items: center;
  width: 88%;
  background-color: #2e51a2;
  float: left;
  height: 34px;
  margin-left: 70px;
  margin-right: 70px;
  text-align: left;
  font-family: Verdana, Arial;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}
